header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color:rgb(78, 131, 243);
    
  
     
}

 

  strong a{
     
    text-decoration: none;
    margin-left: 15px;
    color: white;
   
    

      
}
 
nav ul{
    display: flex;
    list-style: none;
     
    

}
nav ul li{
     
     
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
     margin: 25px;color: white;
     
     
}

footer {
    display: flex;
    background-color:rgb(78, 131, 243);
    justify-content: space-between;
}
footer p{
    margin-right: 5px;
    margin-left: 5px;
    color: white;
}


.row{
    display: flex;
     
    flex-wrap: wrap;

}
.row-2{

    display: flex;
}
.parte-1{
    flex: 30px;
    
}
.parte-1 figure img{
    background-color: red;
    width: 500px; 
    height: 300px;
    
}

.parte-2{
    flex:70px;
}